In [1]:
import pandas as pd
import numpy as np

# read data
data = pd.read_csv('data-project-ml-binned.csv')
data.head()

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,Smoker,Stroke,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,...,Education_4,Education_5,Education_6,Income_2,Income_3,Income_4,Income_5,Income_6,Income_7,Income_8
0,0,1,1,1,1,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
1,0,0,0,0,1,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,1,1,1,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
3,0,1,0,1,0,0,1,1,1,0,...,0,0,0,0,0,0,0,1,0,0
4,0,1,1,1,0,0,1,1,1,0,...,0,1,0,0,0,1,0,0,0,0

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 57 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   HeartDiseaseorAttack  253680 non-null  int64
 1   HighBP                253680 non-null  int64
 2   HighChol              253680 non-null  int64
 3   CholCheck             253680 non-null  int64
 4   Smoker                253680 non-null  int64
 5   Stroke                253680 non-null  int64
 6   PhysActivity          253680 non-null  int64
 7   Fruits                253680 non-null  int64
 8   Veggies               253680 non-null  int64
 9   HvyAlcoholConsump     253680 non-null  int64
 10  AnyHealthcare         253680 non-null  int64
 11  NoDocbcCost           253680 non-null  int64
 12  DiffWalk              253680 non-null  int64
 13  Sex                   253680 non-null  int64
 14  BMI_Normal            253680 non-null  int64
 15  BMI_Overweight        253680 non-null  int64
 16  BMI_Obese             253680 non-null  int64
 17  BMI_Extremely Obese   253680 non-null  int64
 18  BMI_Morbidly Obese    253680 non-null  int64
 19  MentHlth_b            253680 non-null  int64
 20  MentHlth_c            253680 non-null  int64
 21  MentHlth_d            253680 non-null  int64
 22  MentHlth_e            253680 non-null  int64
 23  PhysHlth_b            253680 non-null  int64
 24  PhysHlth_c            253680 non-null  int64
 25  PhysHlth_d            253680 non-null  int64
 26  PhysHlth_e            253680 non-null  int64
 27  GenHlth_2             253680 non-null  int64
 28  GenHlth_3             253680 non-null  int64
 29  GenHlth_4             253680 non-null  int64
 30  GenHlth_5             253680 non-null  int64
 31  Diabetes_1            253680 non-null  int64
 32  Diabetes_2            253680 non-null  int64
 33  Age_2                 253680 non-null  int64
 34  Age_3                 253680 non-null  int64
 35  Age_4                 253680 non-null  int64
 36  Age_5                 253680 non-null  int64
 37  Age_6                 253680 non-null  int64
 38  Age_7                 253680 non-null  int64
 39  Age_8                 253680 non-null  int64
 40  Age_9                 253680 non-null  int64
 41  Age_10                253680 non-null  int64
 42  Age_11                253680 non-null  int64
 43  Age_12                253680 non-null  int64
 44  Age_13                253680 non-null  int64
 45  Education_2           253680 non-null  int64
 46  Education_3           253680 non-null  int64
 47  Education_4           253680 non-null  int64
 48  Education_5           253680 non-null  int64
 49  Education_6           253680 non-null  int64
 50  Income_2              253680 non-null  int64
 51  Income_3              253680 non-null  int64
 52  Income_4              253680 non-null  int64
 53  Income_5              253680 non-null  int64
 54  Income_6              253680 non-null  int64
 55  Income_7              253680 non-null  int64
 56  Income_8              253680 non-null  int64
dtypes: int64(57)
memory usage: 110.3 MB

In [3]:
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler

# Assuming 'data' is your DataFrame and it's already loaded


# 2. Apply DBSCAN
# Adjust these parameters based on your data
dbscan = DBSCAN(eps=0.5, min_samples=5)
dbscan.fit(data)

# 3. Identify outliers
data['dbscan_label'] = dbscan.labels_

# Points with label -1 are considered outliers
outliers = data[data['dbscan_label'] == -1]

print("Outlier Rows:")
print(outliers)

In [ ]:
# from sklearn.cluster import DBSCAN
# import pandas as pd

# # Function to save dataframe to file
# def save_dataframe(df, filename):
#     df.to_csv(filename, index=False)

# # Assuming 'data' is your DataFrame and it's already loaded

# # 1. Define parameter grid
# param_grid = {
#     'eps': [0.1, 0.5, 1.0],          # Adjust these values based on your data
#     'min_samples': [3, 5, 10]         # Adjust these values based on your data
# }

# # 2. Initialize dictionary to store results
# results = {}

# # 3. Loop through parameter combinations
# for eps in param_grid['eps']:
#     for min_samples in param_grid['min_samples']:
#         # 4. Apply DBSCAN with current parameters
#         dbscan = DBSCAN(eps=eps, min_samples=min_samples)
#         dbscan.fit(data)
        
#         # 5. Identify outliers
#         outlier_mask = dbscan.labels_ == -1
#         non_outliers = data[~outlier_mask]
#         num_outliers = sum(outlier_mask)
        
#         # 6. Save non-outlier data
#         filename = f"non_outliers_eps_{eps}_min_samples_{min_samples}.csv"
#         save_dataframe(non_outliers, filename)
        
#         # 7. Store results
#         results[(eps, min_samples)] = {
#             'num_outliers': num_outliers,
#             'filename': filename
#         }
        
# # 8. Print results
# for params, result in results.items():
#     eps, min_samples = params
#     num_outliers = result['num_outliers']
#     filename = result['filename']
#     print(f"Parameter Combination: eps={eps}, min_samples={min_samples}, Num Outliers={num_outliers}, Filename={filename}")

In [ ]:
from sklearn.cluster import DBSCAN
import pandas as pd
import time

# Assuming 'data' is your DataFrame and it's already loaded

# 1. Define parameter to tune
param_to_tune = 'eps'
param_values = [0.1, 0.5, 1.0]  # Adjust these values based on your data

# 2. Initialize dictionary to store timing results
timing_results = {}

# 3. Loop through parameter values
for param_value in param_values:
    # 4. Apply DBSCAN with current parameter value
    dbscan = DBSCAN(**{param_to_tune: param_value}, min_samples=5)  # Assuming min_samples=5
    start_time = time.time()
    dbscan.fit(data)
    end_time = time.time()
    
    # 5. Calculate time taken
    time_taken = end_time - start_time
    
    # 6. Store timing results
    timing_results[param_value] = time_taken
    
    # 7. Identify outliers (optional)
    num_outliers = sum(dbscan.labels_ == -1)
    print(f"Parameter Value: {param_value}, Time Taken: {time_taken:.4f} seconds, Num Outliers: {num_outliers}")

# 8. Print timing results
for param_value, time_taken in timing_results.items():
    print(f"Parameter Value: {param_value}, Time Taken: {time_taken:.4f} seconds")